:root {
	--main-color: #83c9e7;
	--main2-color: #4a88da;
	--main3-color: #82c8e6;
	--background-color: #e4f3fa;
	--red-color: #ff4040;
}

#dropdown-item-button {
	width: 8rem;
	height: 2rem;
	text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-color: #e3e3e3;
	color: black;
	margin-right: 2rem;
}

#dropdown-item-button:hover {
	border-style: none;
}

.divider {
	/* margin: 0 3rem; */
	margin-left: 1rem;
	margin-right: 1rem;
}

.fcl {
	margin: 0;
}
.formGroup {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 0.75rem;
}
.deleteBtn {
	margin: 0 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
}
.deleteBtn {
	cursor: pointer;
}

.radioDeleteBtn {
	margin-right: 1.75em;
}

/* 이 부분이 focus event */

.nonEffectPoint {
	transform-origin: 150px center;
	transform: scaleX(0) !important;
}

.defaultEffect {
	position: absolute;
	background-color: rgb(103, 58, 183);
	bottom: -2px;
	left: 0px;
	height: 2px;
	margin: 0;
	width: 18rem;
}

.effectPoint {
	/* border: 1px solid rgb(103, 58, 183); */
	transform-origin: 200px center;
	animation-delay: 1s;
	animation-direction: normal;
	transition-duration: 0.3s;
	transform: scaleX(1) !important;
	transform: matrix(0, 0, 0, 1, 0, 0);
}

/* .effectInput:focus ~ .effectPoint {
	/* border: 1px solid rgb(103, 58, 183); */
/* transform-origin: 200px center;
	animation-delay: 1s;
	animation-direction: normal;
	transition-duration: 0.3s;
	transform: scaleX(1) !important;
	transform: matrix(0, 0, 0, 1, 0, 0); */
/* }  */
