:root {
	--main-color: #83c9e7;
	--main2-color: #4a88da;
	--main3-color: #82c8e6;
	--background-color: #e4f3fa;
	--red-color: #ff4040;
}

#dropdown-item-button {
	width: 8rem;
	height: 2.25rem;
	text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-color: #e3e3e3;
	color: black;
	margin-right: 2rem;
}

#dropdown-item-button:hover {
	border-style: none;
}

.divider {
	/* margin: 0 3rem; */
	margin-left: 1rem;
	margin-right: 1rem;
}

.fcl {
	margin: 0;
}
.formGroup {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 0.75rem;
}
.deleteBtn {
	margin: 0 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
}
.deleteBtn {
	cursor: pointer;
}
