@font-face {
  font-family: "dohyeon";
  src: url("./assets/fonts/BMDOHYEON_ttf.ttf");
}

body {
  margin: 0;
  font-family: "dohyeon" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "dohyeon" !important;
}
